@import 'base';
@import 'mixins';

@import 'components/main';

$grey: #e7e7e7;

header,
footer,
section {
	padding: 1em 3em;

	h1, h2, h3, h4 {
		text-transform: uppercase;
	}
}

footer {
	background-color: $grey;
	a {
		&:hover {
			text-decoration:none;
		}
	}
}