@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlEY6Fu39Tt9XkmtSosaMoEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/M2Jd71oPJhLKp0zdtTvoMzpKUtbt71woJ25xl7KOGD0.ttf) format('truetype');
}

$atc-grey: #585858;
$atc-white: #ffffff;
$atc-lightgrey: #cccccc;
$atc-green: #339933;

body {
  font-family: SourceSansPro-Regular,helvetica,sans-serif;
  color: $atc-grey;

  header, footer, section { @include page-padding(); }

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }

  footer {
    text-transform: uppercase;
    padding-top:3em;
    padding-bottom:2em;
    background-color: $atc-grey;
      a, h2, {
        text-decoration:none;
        color:$atc-white;
        font-size: 1.2em;
        line-height: 2em;
        padding-bottom: 5em;  
      }

      p {
        span{
          color: $atc-green;
          padding-top: 5em;
        }

        a {
          font-size: 0.7em;
          color: $atc-lightgrey;
        }
      }
  }
}

ul{
  padding-bottom: 1em; 
}

.socialmedia{
  padding-top:10%;
  color:$atc-lightgrey;
  font-size: 5em;
  text-align:center;
}

.legal-links{
        padding-top: 2em;
        font-size: .75em;
        text-align: center;
}

#mobile-nav {
  position: absolute;
  top: -100px;
}

#nav-open {
  display: none;
}

#mobile-nav:checked ~ #nav-open {
  display: block;
}

@media screen and (max-width: 600px){

footer {
  }

}

/* Need to find that cheveron from Ben
.mobile-nav-toggle span:after {
} */