header,
footer,
section {
  padding: 1em 3em;

  h1, h2, h3, h4 {
    text-transform: uppercase;
  }
}

#mobile-nav {
  position: absolute;
  top: -100px;
}

#nav-open {
  display: none;
}

#mobile-nav:checked ~ #nav-open {
  display: block;
}

/* Need to find that cheveron from Ben
.mobile-nav-toggle span:after {
} */